
<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-centered">
      <h1 class="title has-text-centered">Password Generator</h1>
<div class="field">
  <label>Enter Length</label>
  <input (input)="passLength($any($event.target).value)" >

</div>
<div class="field">
  <div class="control">
    <label class="checkbox"><input class="checkbox" (change)="changeUseLetters()" type="checkbox">
      Use Letters</label>
  </div>
  
</div>
<div class="field">
  <div class="control">
    <label class="checkbox"><input class="checkbox" (change)="changeUseNumbers()" type="checkbox">
      Use Numbers</label>
  </div>
</div>
<div class="field">
  <div class="control">
    <label class="checkbox"><input class="checkbox" (change)="changeUseSymbols()" type="checkbox">'
      Use Symbols</label>
    
  </div>
</div>
<div class="field">
  <button class="button is-link is-fullwidth" [disabled]="!(passwordLength && (useLetters || useNumbers || useSymbols))" (click)="generate()">Generate</button>
</div>
<div class="field" *ngIf="generatedPassword">

  <label class="tag has-addons">
  Your Password : {{generatedPassword}}
</label>
</div>

    </div>
  </div>
</div>