<h1>Password Generator</h1>
<div>
  <p>Enter Length</p>
  <input (input)="passLength($any($event.target).value)" >

</div>
<div>
  <label>Use Letters</label>
  <input (change)="changeUseLetters()" type="checkbox">
</div>
<div>
  <label>Use Numbers</label>
  <input (change)="changeUseNumbers()" type="checkbox">
</div>
<div>
  <label>Use Symbols</label>
  <input (change)="changeUseSymbols()" type="checkbox">
</div>
<div>
  <button [disabled]="!passwordLength" (click)="generate()">Generate</button>
</div>
<div>
  <p>Your Password : {{generatedPassword}}</p>
</div>